@import "@/styles/mixins/colors.scss";
@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
	font-family: 'Geist', sans-serif;
}

html,
body {
  background-color: $background-primary;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
