.normal{
    background: #1453E7;
    border-radius: 0.75em;
    border: solid 1px #1453E7;
    color: #ffffff;
    white-space: nowrap;
    


}

.cancelar{
    background: transparent;
    border-radius: 0.75em;
    border: solid 1px #BEBEBE;
    color: #000000;
}

.cinza{
    white-space: nowrap;
    font-size: 1em;
    width: 100%;
    background: #7D7D7D;
    border-radius: 0.75em;
    border: solid 1px #ffffff;
    color: #ffffff;
}