@import "@/app/styles/mixins/colors.scss";
@import "@/app/styles/mixins/padding.scss";
@import "@/app/styles/mixins/responsive.scss";
@import "@/app/styles/mixins/fonts.scss";
@import "../../../node_modules/primereact/resources/primereact.css";
@import "../../../node_modules/primereact/resources/primereact.min.css";

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #E8E8E8;
    padding: 24px 16px;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.button{
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;
    text-decoration: none;

    span{
        color: #7D7D7D;
    }

    &:hover {
        cursor: pointer;
      }
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.button:hover span{
    color: #1453E7;
}

.cadastros{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 8px;
}

.despachos{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 8px;
}

.categoriaMenu{
    font-size: 0.75em;
    font-family: "Poppins";
    font-weight: 400;
}


.active {
    background-color: #EBEBEB;
    span{
        color: #1453E7;
    }
}
