@import "../../../styles/mixins/responsive.scss";
@import "../../../styles/mixins/fonts.scss";


.container {
    background-image: linear-gradient(to bottom, #E2EEFD, #ffffff);
    color: #202124;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 120px 0px 120px;

    @include Phone{
        // Remova ou altere esta linha para que a altura seja automática.
        // height: 100vh; // <-- REMOVA OU COMENTE ESTA LINHA
        justify-content: normal;
        padding: 40px 16px;

        // Adicione um espaçamento inferior para garantir que a próxima seção não fique colada.
        //padding-bottom: 60px; // Ajuste este valor conforme necessário
    }
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;

    h1{
        @include SizeFontEXLarge;
        margin: 0;
        font-family: "Geist", sans-serif;
        font-weight: 400;
    }
    p{
        margin: 0;
    }
}

.conteudo{
    font-family: "Geist", sans-serif;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    @include Phone {
        // Altera a direção do flexbox para que os itens fiquem um abaixo do outro
        flex-direction: column; 
        
        // Centraliza os itens horizontalmente se necessário
        align-items: center; 
    }
}

.conteudo ul li {
    margin-left: -16px;
    margin-bottom: 8px;
}