@import "/styles/mixins/colors.scss";
@import "../../../styles/mixins/padding.scss";
@import "../../../styles/mixins/responsive.scss";
@import "../../../styles/mixins/fonts.scss";

.footer {
    @include Padding;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    color: #fff;
    background-color: #112E40;

    p{
        font-weight: 300;
        color: #CFD3D7;
        text-align: center;
    }

    @include Phone{
        @include SizeFontSmall;
        grid-template-columns: 1fr;
        gap: 16px;
        padding-top: 1rem;
    }
}

.menu{
    @include SizeFontNormal;
    font-weight: 300;
    display: flex;
    align-items: center;
    a+a{
        margin-left: 40px;
        @include Phone{
            margin: 0;
        }
    }

    span{
        display: none;

        @include Phone{
            display: flex;
            color: $orange-primary;
            font-weight: 600;
        }
    }

    @include Phone{
        flex-direction: column;
        width: 100%;
        gap: 8px;
        align-items: center;

    }
}
