@import "@/app/styles/mixins/responsive.scss";
@import "@/app/styles/mixins/fonts.scss";

.container {
    font-weight: 300;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 250px 250px 250px;

    @include Phone{
        min-height: 100vh;
        justify-content: normal;
        padding: 40px 16px;
    }
}

.titulo{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;

    h1{
        @include SizeFontEXLarge;
        margin: 0;
        //font-size: 3rem;
        font-weight: 400;
    }
    p{
        margin: 0;
    }
}

.subTitulo{
    @include SizeFontMedium;
    color: #FF725E;
    font-weight: bold;
    //font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;

    @include Phone{
        grid-template-columns: 1fr;
        gap: 64px;
    }

    p{
        color: rgba(0, 0, 0, 0.5);
        max-width: 400px;
        text-align: justify;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 64px;

        @include Phone{
            gap: 16px;
        }
    }
}

.img{
    @include Phone{
        height: 100%;
        width: 100%;
    }
}
