@import "../../../styles/mixins/colors.scss";
@import "../../../styles/mixins/padding.scss";
@import "../../../styles/mixins/responsive.scss";
@import "../../../styles/mixins/fonts.scss";

.container{
    @include Padding;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, white, #E2EEFD);
    display: flex;
    justify-content: center;
    align-items: center;

    @include Phone{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        min-height: 100vh;
        height: fit-content;
    }

    .content{
        display: grid;
        align-items: center;

        @include Phone{
            grid-template-columns: 1fr;
            grid-template-rows: max-content;
            min-height: 100vh;
            height: fit-content;
        }
    }

}

.textInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include Phone {
        margin-top: 180px;
    }

    h1 {
        @include SizeFontLarge;
        font-size: 64px;
        font-weight: 600;
        max-width: 700px;
        text-align: center;
        line-height: 1.1;
        font-family: "Geist", sans-serif;
        color: #202020;
        margin: 0;
    }

    p {
        @include SizeFontMedium;
        font-size: 18px;
        font-weight: 400;
        color: #666666;
        max-width: 700px;
        text-align: center;
        font-family: "Geist", sans-serif;
        margin: 0;
        margin-top: 24px;
    }

    .buttoncontainer {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 24px;
    }

    .btn1 {
        background-color: #2679F3;
        color: #fff;
        border: none;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        font-weight: 500;
        font-family: "Geist", sans-serif;
    }

    .btn1:hover {
        background-color: #2262C7;
    }

    .btn2 {
        background-color: #D3E1EE;
        color: #202020;
        border: none;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        font-weight: 500;
        font-family: "Geist", sans-serif;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .btn2:hover {
        background-color: #b4c7d8;
    }
}