.container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.293);
    border: none;
    margin: 0;
    z-index: 10;
}



.form {
    width: 58em;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 2em;
    font-size: 0.875em;
}

.title {
    font-size: 1.25em;
    font-weight: 500;
    gap: 0.5em;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 1em;
}

.containerLinha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.linha {
    border-top: 1px solid #aaa;
    flex-grow: 1;
}

.texto {
    margin: 0 0.5em;
    /* ajuste conforme necessário */
    font-size: 16px;
    /* ajuste conforme necessário */
    color: #aaa;
    /* ajuste conforme necessário */
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 2em;
}

.empresaCodigo {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 70% 28%;
    grid-column-gap: 1em;

}

.opcao {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: auto;
    gap: 0.25em;
}

.opcao label {
    padding: 0;
    white-space: nowrap;

}

.cnpjInscEstadual {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 46% 52%;
    grid-column-gap: 1em;

}

.certificadoVencimento {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 68% 30%;
    grid-column-gap: 1em;

}

.enderecoNumero {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 75% 23%;
    grid-column-gap: 1em;

}

.bairroCep {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 68% 30%;
    grid-column-gap: 1em;

}

.cidadeEstado {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 60% 38%;
    grid-column-gap: 1em;
}

.contatoEmail {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 50% 48%;
    grid-column-gap: 1em;
}

.numerosInputs {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 33% 33% 30%;
    grid-column-gap: 1em;
}

.botoes {

    display: flex;
    justify-content: end;
    margin-top: 4em;
    gap: 1em;
}


.inputText {
    border-radius: 1em;
    height: 2em;
    width: 100%;
    flex-grow: 1;
}

.error {
    border: 1px solid red;
  }

  .modal {
    border-radius: 20px; // Define o raio da borda
    padding: 0 !important;
    background-color: none;

}