.container{
    flex-grow: 1;
}
.custom-input-field {
    width: 100%;
    border: none;
    
}

.custom-input-text {
    width: 100%;
    border-radius: 10px;
    border: none;
}


.inputText{
    border-radius: 1em;
    height: 2em;
    width: 100%;
    flex-grow: 1;
}
