
.svgIcon {
    .path1 {
      stroke: #ABABAB; // cor padrão para a primeira path
    }
    .path2 {
      stroke: #7D7D7D; // cor padrão para a segunda path
    }
    .path3 {
      stroke: #7D7D7D; // cor padrão para a terceira path
    }
}

.active {
    .path1 {
      stroke: #9EB1DD;
    }
    .path2 {
      stroke: #1453E7;
    }
    .path3 {
      stroke: #1453E7;
    }
    .path4 {
      stroke: #1453E7;
    }
  }