@import "./responsive.scss";

@mixin SizeFontEXLarge {
	font-family: 'Geist', sans-serif;
	font-size: 3em;

	@include Phone {
		font-family: 'Geist', sans-serif;
		font-size: 3em;
	}
}

@mixin SizeFontLarge {
	font-family: 'Geist', sans-serif;
	font-size: 2em;

	@include Phone {
		font-family: 'Geist', sans-serif;
		font-size: 2em;
	}
}

@mixin SizeFontMedium {
	font-family: 'Geist', sans-serif;
	font-size: 1.25em;

	@include Phone {
		font-family: 'Geist', sans-serif;
		font-size: 1.25em;
	}
}

@mixin SizeFontMediumMore {
	font-family: 'Geist', sans-serif;
	font-size: 21.3em;

	@include Phone {
		font-family: 'Geist', sans-serif;
		font-size: 21.3em;
	}
}


@mixin SizeFontNormal {
	font-family: 'Geist', sans-serif;
	font-size: 1em;

	@include Phone {
		font-family: 'Geist', sans-serif;
		font-size: 1rem;
	}
}

@mixin SizeFontSmall {
	font-family: 'Geist', sans-serif;
	font-size: 0.75em;

	@include Phone {
		font-family: 'Geist', sans-serif;
		font-size: 0.75em;
	}
}
