@import "../../../styles/mixins/colors.scss";

.button{
    padding: 8px 18px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-family: "Lexend", sans-serif;
    cursor: pointer;
    transition-duration: 0.4s;

   /*  &.primary{
        background-color: $blue-primary;
    }

    &.secondary{
        background-color: $orange-primary;
    } */

    &.enviarForm{
        background-color: #2679F3;
        border-radius: 180px;
        font-size: 1rem;
        padding: 16px;
        margin-top: 42px;
    }

}

.button:hover{
    &.primary{
        background-color: $blue-primary-hover;
    }

    &.secondary{
        background-color: $orange-primary-hover;
    }

    &.enviarForm{
        background-color: $orange-primary-hover;
    }
}